body {
    font-family: Tahoma,  Verdana, sans-serif ;
}

.logo img {
  width: 230px;
  height: 100px;
  display: inline;
}
.navbar ul {
    list-style: none;

}
.navbar {
    font-weight: 70px;
    font-size: larger;
}
.navbar  {
    padding-left: 700px;
 
 border: 2px solid black;
 border-top-left-radius: 100px;

}